nav {
    background: #20A759;
    color:#fff;
    padding: 10px;
    }
nav a {
    color: #fff;
    text-decoration: none;
    padding:10px 20px;
    }
nav .active,
nav a:hover {
    background: #168c4a;
    border-radius: 4px;
}
/* ID Selector */
    #intro {
            background: #418fb1;
            border: 1px solid #099249;
            min-height: 100px;
            padding: 10px;
        }
    #intro h1 {
            text-align: left;
            border: 0;
            color: #fff;
        }
/* Class Selector */
    .button {
            padding: 15px 20px;
            background: #8b3500;
            color: #f0f1ee;
            display: inline-block;
            margin: 10px;
            text-decoration: none;
    }